@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');

.body {
    font-family: "Poppins", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    max-width: 1170px;
    margin: 0 auto;
}

.welcome {
    background: #F1F1F1;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.nav li {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    cursor: pointer;
    transition: all ease;
}

.nav li:hover {
    transform: scale(1.1)
}

.home {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: #606060;
}

.block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    max-width: 1170px;

    /* Центрирует объект в блоке. */
    margin: 0 auto;
}

.welcome-text {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    width: 525px;
    height: 338px;
    top: 281px;
    left: 215px;
    gap: 0px;
    opacity: 0px;
}

.main-text {
    font-family: Poppins;
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
    text-align: left;
    width: 500px;
}

/* Section expertise. */

.expertise {
    padding-top: 90px;
    width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expertise p:first-of-type {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    text-transform: uppercase;
}

.expertise p:last-child {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    width: 370px;
    height: 84px;
    top: 1004px;
    left: 215px;
    gap: 0px;
    opacity: 0px;
}

.block_expertise1 img { 
    padding-bottom: 30px;
}